body {
    /*background-image: url("sparkle.jpg");*/

}

.position{

    position:absolute;

}


.position img{
    width: 100%;
}

.position:hover img {
    opacity: 35%;
    cursor: pointer;
    position: relative;
}

.position:hover .text {
    opacity: 100%;

}

.text{
    position: relative;
    opacity: 0%;
    /*top: 30px;*/
    top: 10px;
    left: 50px;
    font-family: "American Typewriter";
    font-size: 50px;
}

#home{
     top: 0.1%;
     left: 0.1%;
     width: 20%;
 }

#year{
    font-family: "American Typewriter";
    top: 5%;
    right: 5%;
    font-size: 70px;
}

#text{
    top: 21%;
    right: 10%;
    width: 25%;

}

#duomo{
    bottom: 0.5%;
    right: 0.5%;
    width: 25%;
}


#pizza{
    bottom: 0.5%;
    left: 23%;
    width: 14%;
}

/*.p_text{*/
/*    position: relative;*/
/*    opacity: 0%;*/
/*    right: 20px;*/
/*    bottom: 10px;*/
/*    font-family: "American Typewriter";*/
/*    font-size: 50px;*/
/*}*/
/*.p_text:hover{*/
/*    opacity: 100%;*/
/*}*/
#fountain{
    top: 3%;
    left: 24%;
    width: 14%;

}
/*.c_text{*/
/*    position: relative;*/
/*    opacity: 0%;*/
/*    font-family: "American Typewriter";*/
/*    font-size: 50px;*/
/*}*/
/*.c_text:hover{*/
/*    opacity: 100%;*/

/*}*/
#citylife{
    bottom: 0.01%;
    left: 0.3%;
    width: 17%;
}
/*.p_text{*/
/*    position: relative;*/
/*    opacity: 0;*/
/*    font-family: "American Typewriter";*/
/*    font-size: 50px;*/
/*}*/

/*.p_text:hover{*/
/*    opacity: 100%;*/
/*}*/

#prada{
    top: 30%;
    right: 40%;
    width: 20%;

}

.sparkle{
    top: 200px;
    right: 100px;
    padding: 10px;
    position: fixed;
    border: none;
    background: pink;
    font-size: 30px;
    cursor: pointer;
    margin-right: 10px;
    font-family: 'American Typewriter', sans-serif;

}

#overijse{
    opacity: 100%;

}