body {
    /*background-image: url("sparkle.jpg");*/

}

.position{
    position:absolute;
}

.position img{
    width: 100%;
}

.position:hover img {
    opacity: 35%;
    cursor: pointer;
    position: relative;
}

.position:hover .text {
    opacity: 100%;

}

.text{
    position: relative;
    opacity: 0%;
    /*top: 30px;*/
    left: 50px;
    font-family: "American Typewriter";
    font-size: 50px;
}

#drawing{
    top: 2%;
    left: 2%;
    width: 30%;
    /*height: 25%;*/
}


#year{
    font-family: "American Typewriter";
    top: 10%;
    right: 40%;
    font-size: 100px;
}

#text{
    top: 24%;
    right: 40%;
    width: 26%;
}
#tervuren{
    bottom: 2%;
    right: 0.9%;
    width: 37%;
}

#isb{
    bottom: 0.01%;
    left: 23%;
    width: 20%;
}


#fountain{
    bottom: 0.1%;
    left: 2%;
    width: 20%;

}


#africa{
    top: 3%;
    right: .9%;
    width: 24%;
}

.sparkle{
    top: 200px;
    right: 30%;
    padding: 10px;
    position: fixed;
    border: none;
    background: lightsalmon;
    font-size: 30px;
    cursor: pointer;
    margin-right: 10px;
    font-family: 'American Typewriter', sans-serif;
}

#overijse{
    opacity: 100%;

}